.App{
  margin:1%;
   font-family: Arial, Helvetica, sans-serif;
   border: 3px solid gray;
   box-shadow: 60px -16px rgba(201, 200, 200, 0.459);
   border-radius: 0px 10px 10px 10px;
   color:black;
}

/* losowanie kolorów - w zależności od tego jaki background zostanie wylosowany takie będą głowne kolory nabv, footer, sekcji */
:root {
  /* dark shades of primary color*/
  --color-navbar-road: rgb(192, 207, 236);
  --color-add-section-road: rgb(192, 207, 236);
  --color-footer-road: rgb(234, 194, 45);
  --color-section-road: rgb(59,58,28);
  --color-section-border-road: rgb(208,164,115);
  --color-section-active-road: rgb(208,164,115);
}

.mainsection{
    background-image: url("./MainSection/background/3.jpeg");
    max-width: 99vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

/* road */
.mainsection.road{
  background-image: url("./MainSection/background/6.jpeg");
}

.navbar.road{
  background-color: var(--color-navbar-road);
}

.footer.road{
   background-color: var(--color-footer-road);
}


.section.road{
background-color: var(--color-section-road);
padding: 2rem;
border:2px solid var(--color-section-border-road);
}

.section.active.road{
background-color: var(--color-section-active-road);
padding: 2rem;
border:2px solid var(--color-section-road);
}

.btn-add-section.road{
 background-color: var(--color-add-section-road);
}