.App{
   font-family: Arial, Helvetica, sans-serif;
   color:black;
}

/* losowanie kolorów - w zależności od tego jaki background zostanie wylosowany takie będą głowne kolory nabv, footer, sekcji */




