.App{
  margin:1%;
   font-family: Arial, Helvetica, sans-serif;
   border: 3px solid gray;
   box-shadow: 60px -16px rgba(201, 200, 200, 0.459);
   border-radius: 0px 10px 10px 10px;
   color:black;
}

/* losowanie kolorów - w zależności od tego jaki background zostanie wylosowany takie będą głowne kolory nabv, footer, sekcji */
:root {
  /* road*/
  --color-navbar-road: rgb(192, 207, 236);
  --color-add-section-road: rgb(192, 207, 236);
  --color-footer-road: rgb(234, 194, 45);
  --color-section-road: rgb(59,58,28);
  --color-section-border-road: rgb(208,164,115);
  --color-section-active-road: rgb(208,164,115);

  /* snow trees  */
    --color-navbar-snowtrees: rgb(9, 136, 253);
     --color-footer-snowtrees: rgb(212, 213, 215);
     --color-add-section-snowtrees: rgb(35, 175, 254);
      --color-section-snowtrees: rgb(137,166,206);
     --color-section-active-snowtrees: rgb(212,213,215);
     --color-section-border-snowtrees: rgb(112,90,53);
}

.mainsection{
    max-width: 99vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

/* road */
.App.road .navbar{
  background-color: var(--color-navbar-road);
}
.App.road .mainsection{
  background-image: url("./MainSection/background/6.jpeg");
}

.App.road .footer{
   background-color: var(--color-footer-road);
}


.App.road .section{
background-color: var(--color-section-road);
padding: 2rem;
border:2px solid var(--color-section-border-road);
}

.App.road .section.active{
background-color: var(--color-section-active-road);
padding: 2rem;
border:2px solid var(--color-section-road);
}

.App.road .btn-add-section{
 background-color: var(--color-add-section-road);
}

/* road */


/* snow trees */
.App.snowtrees .mainsection{
  background-image: url("./MainSection/background/7.jpeg");
}

.App.snowtrees .navbar{
  background: linear-gradient(to bottom, rgb(6, 104, 196), rgb(5, 151, 209)); 
  border-bottom: 20x darkblue;
}

.App.App.snowtrees .footer{
   background-color: var(--color-footer-snowtrees);
}

.App.snowtrees .btn-add-section{
 background-color: var(--color-add-section-snowtrees);
}

.App.snowtrees .section.active{
background-color: var(--color-section-active-snowtrees);
padding: 2rem;
border:2px solid var(--color-section-border-snowtrees);
height:40vh;
}

.App.snowtrees .section{
background-color: var(--color-section-snowtrees);
padding: 2rem;
border:2px solid var(--color-section-border-snowtrees);
}
