
/* main app container*/

.app-container{
    width:100%;
    height: 100%;

}



/* navbar */
.navbar{
   
	height: 4vh;
    padding-bottom: 1.5%;
    padding-top: 0.5%;
    font-size:3vw; 
    background-image: linear-gradient(to right, rgb(49,88,143),rgb(42,73,116));
    position:relative;
    display: grid;
    grid-template-columns: 65% 35%;
}

.navbar h2{
    color:white;

}

.navbar_menu{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    align-self: center; /*na srodku*/
}

/*buttons*/

.navbar_menu_btn {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
}



.navbar_menu_btn:hover {
  transition: 1s ease-in-out;
  background: #3776b4;
}

.navbar_menu_btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/*buttons*/

.logo{
    width:10vw;
    height: 5vh;
    border-radius: 30% 0% 30% 0%;
    background-image: 
    linear-gradient(to bottom, rgb(42,73,116, 0.1),rgb(42,73,116, 0.3), rgb(42,73,116, 1)),
    url('./Nav/logo.png');
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(216, 220, 227, 0.4);
    margin-left:2%;
}


.btn-section-add{
     float:right;
     border:1px solid white;
     font-size: 1rem;
     width:10vw;
     padding:0.5%;
     margin-top:5%;
     color:white;
     background-color:  rgb(42,73,116);
}

.btn-section-add:hover{
    transition: 1s ease-in-out;
    background: #3776b4;
}




.modal{
     position: fixed;
     width:60vw;
     height:20vh;
     /* zeby bylo zawsze na srodku */
     left:50%;
     top:50%;
     transform: translate(-50%, -50%); /* pozycja zawsze na środku*/
     box-shadow: inset 0 0 7px rgb(173,201,240);
     border: 2px solid white;
     box-sizing: border-box;
     color:white;
      z-index:3;
     background: #3776b4;
}

.modalOverlay{
      position:fixed;
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      background-color:black;
      overflow: hidden;
      z-index:2;
      background: rgba(122, 125, 123, 0.6);
}

.modalSectionName{   
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); /* pozycja zawsze na środku*/

}


.modalSectionName input{
     font-size: larger;
     max-width: 30vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(42,73,116);
  opacity: 1; /* Firefox */
  padding:0.5%;
}


@media (min-width:1000px){

    .modal{
        width:30vw;
    }
   
    .modalSectionName input{
        font-size: x-large;
        max-width: 15vw;
    }

    .btn-section-add{
          margin-top:0.5%;
    }
}




/*dashboard*/
.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	height: 92.5vh; 
    overflow-y: auto;
    z-index: 3;
    display:grid;
    grid-template-columns: 30vw 70vw;
}

.sectionList{
    padding:1vw;
    display: grid;
    grid-gap:3px;
    font-size: 0.7rem;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr) ) ;*/
    grid-template-columns: 50% 50%;
 
    background-color:rgb(216, 220, 227, 0.6);
}

@media (min-width:1300px){
    .sectionList{
     grid-template-columns: 25% 25% 25% 25%;
     font-size: 1rem;
    }
}

.currentSection{
    background-color:rgb(216, 220, 227, 0.6);
}

.sectionListItem{
    background-color:rgb(42,73,116, 0.8);
    color:white;
    padding:2px;
     border: 1px solid #91C9FF;
    text-align: center;
     position: relative;
}

.sectionListItem:hover{
    transition: 1s ease-in-out;
    background: #3776b4;
}


.sectionListItem.importantItem{
    grid-column: auto / span 2;
}



/*section*/

.active{
    display:grid;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:#343f56;
    padding: 0.5rem;
    margin: 0.5%;
}

 

.section{
     position: absolute;
    z-index: 3;
     top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.section-actv-navbar{
    font-size: x-large;

}

.addedElementsContainer{
    display: grid;
    
}

/*element*/
.element-container {
  border: 1px solid black;
    box-sizing: border-box;
}

.elemInstruction{
   height: 15vh;
   padding: 3%;
}

.elemInputContainer {
  display: grid;
  grid-template-columns: 40% 40% 20%
} 

.elemInputText textarea{
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.elemInputPhoto{
    border:2px solid #343f56;
}

.elemInputText{
    border:2px solid #343f56;
}

.elemInputTag{
    border:2px solid #343f56;
}

.elemInputTag input{
  margin-top: 5vh;
  font-size: 1.5vw;
  border-radius: 20px 20px 20px 20px;
  border:2px solid #343f56;
  color:#343f56;
}

.elemInputTag input::placeholder{
  color:#343f56;
}


.elemSaveBtn{
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #343f56;
    position:relative;
    margin-top: 5.5vh;
}


/*added element*/

.singleAddedElem{
    border:2px solid #343f56;
    background-color: rgba(230, 107, 107, 0.5);
    margin: 0.1em 0.1em 0.1em 0.1em;
    color:#343f56;
    display: grid;
     grid-template-columns: repeat(1,1fr);
}

.singleAddedElem.long_text{
     grid-template-columns: repeat(2,1fr);
    
}

.singleTag{
    padding: 0.5em;
    text-align: left;
    grid-column: 1/-1;
}

.singleText{
    padding: 0.5em;
    text-align: left;
}

.singlePhoto{
    padding: 0.5;
}