.footer{
     max-width: 99vw;  /* wielkosc wzgleden obszaru roboczego */
	height: 5vh;
}

.btn-add-section{
 float:right;
 border: 1 px solid black;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 height:6vh;
 margin:0.5%;
 font-size: 1.5rem;
}