.navbar{
    max-width: 99vw;  /* wielkosc wzgleden obszaru roboczego */
	height: 10vh;
    padding: 1%;
    font-family: 'Bangers', cursive;
    font-size:3vw; 
}

.navbar h2{
    color:#e9896a;
    text-shadow: 2px 2px #5c5454;
}

.navbar h2 span{
    color:#343f56;
    font-size: 5vw;;
}