.navbar{
    max-width: 99vw;  /* wielkosc wzgleden obszaru roboczego */
	height: 10vh;
    padding: 1%;
    font-size:3vw; 
    background-image: linear-gradient(to right, rgb(49,88,143),rgb(42,73,116));
    position:relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.navbar h2{
    color:white;

}

.btn-search-section{
 font-size: 1rem;
 padding:1%;
 color:white;
 border:1px solid white;
 border-radius: 10px 10px 10px 10px;
 background-color:  rgb(42,73,116);
 z-index:3;
 height:fit-content;
 width: fit-content;
}

.btn-add-section{
 font-size: 1rem;
 padding:1%;
 color:white;
 border:1px solid white;
 border-radius: 10px 10px 10px 10px;
 background-color:  rgb(42,73,116);
 z-index:3;
 height:fit-content;
 width: fit-content;
}

.btn-add-section:hover{
       box-shadow: inset 0 0 60px rgb(173,201,240);
}



@media (min-width:1000px){
    .btn-add-section{
        font-size: 1.5rem;
    }
    .btn-search-section{
        font-size: 1.5rem;
    }

}

.btn-section-add{
     float:right;
     border:1px solid white;
     font-size: 1rem;
     width:10vw;
     padding:0.5%;
     margin-top:5%;
     color:white;
     background-color:  rgb(42,73,116);
}

.btn-section-add:hover{
       box-shadow: inset 0 0 20px rgb(173,201,240);
}




.modal{
     position: fixed;
     width:60vw;
     height:20vh;
     /* zeby bylo zawsze na srodku */
     left:50%;
     top:50%;
     transform: translate(-50%, -50%); /* pozycja zawsze na środku*/
     box-shadow: inset 0 0 7px rgb(173,201,240);
     border: 2px solid white;
     box-sizing: border-box;
     color:white;
      z-index:3;
     background-image: linear-gradient(to right, rgb(49,88,143),rgb(42,73,116));
}

.modalOverlay{
      position:fixed;
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      background-color:black;
      overflow: hidden;
      z-index:2;
      background: rgba(122, 125, 123, 0.6);
}

.modalSectionName{   
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); /* pozycja zawsze na środku*/

}


.modalSectionName input{
     font-size: larger;
     max-width: 30vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(42,73,116);
  opacity: 1; /* Firefox */
  padding:0.5%;
}


@media (min-width:1000px){

    .modal{
        width:30vw;
    }
   
    .modalSectionName input{
        font-size: x-large;
        max-width: 15vw;
    }

    .btn-section-add{
          margin-top:0.5%;
    }
}
