*{
    margin: 0;
    padding: 0;
}

.containertree{
     width: 100vw;
    height: 100vh;
    z-index:1;
    margin-top:-65%;

}

.rootcontainer{
    z-index: 2;

}

canvas{
    position: relative;
    width: 100%;
    height: 100%;
    opacity:0.4;
}