* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  overflow:hidden;
}

.rootcontainer{
    background: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}





