* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  overflow:hidden;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root{
  --main-blue: rgb(42,73,116);
  --light-blue: rgb(55,118,180);
  --accent-blue: rgb(145,201,255);
  --accent-purple: rgb(165,183,250);
  --accent-danger: rgb(139,0,0);
  --transition: all 0.3s linear;
}


.rootcontainer{
    background: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* ---------------------------------------------NAVBAR------------------------------------------------------------- */
.navbar{ 
    background-image: linear-gradient(to bottom, var(--light-blue),var(--main-blue));
    z-index:100;
    position:fixed;
    width:100%;
}

.navbar__logo_toggle_container{
    display: flex; /*element typu flex*/
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    width:25vw;
    height: 5vh;
    border-radius: 30% 0% 30% 0%;
    background-image: 
    linear-gradient(to bottom, rgb(42,73,116, 0.1),rgb(42,73,116, 0.3)),
    url('./logo.png');
    background-size: cover;
    background-position: center;
    box-shadow:0.05em 0.235em 0.75em var(--light-blue),
                  0.125em 0.125em 0.25em var(--accent-blue);
}



.navbar_toggle_btn {
  font-size: 1.5rem;
  color: var(--accent-purple);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.navbar_toggle_btn:hover {
  color: var(--accent-blue);
  transform: rotate(180deg); /*przekrec sie*/
}

/*linki*/

.navbar__links_container{
  height:0;
  overflow:hidden; 
  transition: var(--transition); /*na malych ekranach widac dopiero po kliknieciu*/
}

.links a {
  color: var(--accent-blue);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem;
  text-shadow: 0.125em 0.025em 0.55em var(--accent-blue);
}
.links a:hover {
  color: white;
}

@media (min-width:800px){

  .navbar{
    display:flex; /*ladne ulozenie linkow na wiekszym ekranie*/
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo{
    width:15vw;
  }

  .navbar_toggle_btn{
    display:none; /*hamburger menu tylko dla malych ekranów*/
  }

  .navbar__links_container{
    height: auto !important; /*na dużych widać wszystkie linki*/
  }

  .links {
    display: flex; /*wyswietlenie w jednym wierszu*/
  }

  .links a{
    font-size: 1.5rem;
    padding: 1rem;
  }

}

/* ---------------------------------------------MODAL - DODANIE GLOWNEJ SEKCJI------------------------------------------------------------- */
.modal_overlay{
      position:fixed;
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      background-color:black;
      overflow: hidden;
      z-index:2;
      background: rgba(42,73,116, 0.9);
}

.modal___nav{
  background-color: var(--light-blue);
  border-bottom:2px solid white;
  position:relative;
}
.modal_exit_btn{
  background: transparent;
  border-color: transparent;
  font-size:1.5rem;
  float: right;
  color: var(--accent-danger);
}

.modal_container{
     position: fixed;
     width:60vw;
     height:20vh;
     /* zeby bylo zawsze na srodku */
     left:50%;
     top:50%;
     transform: translate(-50%, -50%); /* pozycja zawsze na środku*/
     border: 2px solid var(--light-blue);
     color:white;
     background: linear-gradient(rgba(247, 7, 7, 0.9),gray, gray, rgba(247, 7, 7, 0.9)),
      url(background.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-color: black;
     background-blend-mode: luminosity;
}

.modal__input{ 
    margin:1rem;  
    display:flex;
}


.modal__input input{
     font-size: 1.5rem;
     max-width: 30vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(42,73,116);
  opacity: 1; /* Firefox */
  padding:0.5%;
}

.modal__input_btn{
    font-size: 2.1rem;
    background: transparent;
    border-color: transparent;
    margin-left:0.5rem;
    color: var(--accent-blue);
}

.modal__input_btn:hover{
  color: var(--main-blue);
}





@media (min-width:1000px){

    .modal_container{
        width:30vw;
    }

    .modal_input{
      margin:1.5rem;
    }
   
    .modal__input input{
        font-size: 1.5rem;
        max-width: 15vw;
    }

    .modal__input_btn{
        font-size: 2rem;  
    }

}











/* todo*/




/* main app container*/

.app-container{
    width:100%;
    height: 100%;

}





.navbar h2{
    color:white;

}

.navbar_menu{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    align-self: center; /*na srodku*/
}


/*buttons*/

















/*dashboard*/
.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	height: 92.5vh; 
    overflow-y: auto;
    z-index: 3;
    display:grid;
    grid-template-columns: 30vw 70vw;
}

.sectionList{
    padding:1vw;
    display: grid;
    grid-gap:3px;
    font-size: 0.7rem;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr) ) ;*/
    grid-template-columns: 50% 50%;
 
    background-color:rgb(216, 220, 227, 0.6);
}

@media (min-width:1300px){
    .sectionList{
     grid-template-columns: 25% 25% 25% 25%;
     font-size: 1rem;
    }
}

.currentSection{
    background-color:rgb(216, 220, 227, 0.6);
}

.sectionListItem{
    background-color:rgb(42,73,116, 0.8);
    color:white;
    padding:2px;
     border: 1px solid #91C9FF;
    text-align: center;
     position: relative;
}

.sectionListItem:hover{
    transition: 1s ease-in-out;
    background: #3776b4;
}


.sectionListItem.importantItem{
    grid-column: auto / span 2;
}



/*section*/

.active{
    display:grid;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:#343f56;
    padding: 0.5rem;
    margin: 0.5%;
}

 

.section{
     position: absolute;
    z-index: 3;
     top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.section-actv-navbar{
    font-size: x-large;

}

.addedElementsContainer{
    display: grid;
    
}

/*element*/
.element-container {
  border: 1px solid black;
    box-sizing: border-box;
}

.elemInstruction{
   height: 15vh;
   padding: 3%;
}

.elemInputContainer {
  display: grid;
  grid-template-columns: 40% 40% 20%
} 

.elemInputText textarea{
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.elemInputPhoto{
    border:2px solid #343f56;
}

.elemInputText{
    border:2px solid #343f56;
}

.elemInputTag{
    border:2px solid #343f56;
}

.elemInputTag input{
  margin-top: 5vh;
  font-size: 1.5vw;
  border-radius: 20px 20px 20px 20px;
  border:2px solid #343f56;
  color:#343f56;
}

.elemInputTag input::placeholder{
  color:#343f56;
}


.elemSaveBtn{
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #343f56;
    position:relative;
    margin-top: 5.5vh;
}


/*added element*/

.singleAddedElem{
    border:2px solid #343f56;
    background-color: rgba(230, 107, 107, 0.5);
    margin: 0.1em 0.1em 0.1em 0.1em;
    color:#343f56;
    display: grid;
     grid-template-columns: repeat(1,1fr);
}

.singleAddedElem.long_text{
     grid-template-columns: repeat(2,1fr);
    
}

.singleTag{
    padding: 0.5em;
    text-align: left;
    grid-column: 1/-1;
}

.singleText{
    padding: 0.5em;
    text-align: left;
}

.singlePhoto{
    padding: 0.5;
}
