*{
    margin: 0;
    padding: 0;
}

.containertree{
    background: red;
    min-width: 100vw;
    min-height: 100vh;
    z-index:1;
    margin-top:-10%;
}

.rootcontainer{
    z-index: 2;
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity:0.3;
}