*{
    margin: 0;
    padding: 0;
}

.containertree{
    background: rgb(248, 245, 241);
    min-width: 100vw;
    min-height: 100vh;
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity:0.3;
}