:root{
  --main-blue: rgb(42,73,116);
  --light-blue: rgb(55,118,180);
  --accent-blue: rgb(145,201,255);
  --accent-purple: rgb(165,183,250);
  --accent-danger: rgb(139,0,0);
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  overflow:hidden;
}

body{
  background-color: var(--main-blue);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}



.rootcontainer{
    background: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


.app-container{
    width:100%;
    height: 100%;

}

/* ---------------------------------------------NAVBAR------------------------------------------------------------- */
.navbar{ 
    background-image: linear-gradient(to bottom, var(--light-blue),var(--main-blue));
    z-index:100;
    position:relative;
    width:100%;
}

.navbar__logo_toggle_container{
    display: flex; /*element typu flex*/
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    width:25vw;
    height: 5vh;
    border-radius: 30% 0% 30% 0%;
    background-image: 
    linear-gradient(to bottom, rgb(42,73,116, 0.1),rgb(42,73,116, 0.3)),
    url('./logo.png');
    background-size: cover;
    background-position: center;
    box-shadow:0.05em 0.235em 0.75em var(--light-blue),
                  0.125em 0.125em 0.25em var(--accent-blue);
}



.navbar_toggle_btn {
  font-size: 1.5rem;
  color: var(--accent-purple);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.navbar_toggle_btn:hover {
  color: var(--accent-blue);
  transform: rotate(180deg); /*przekrec sie*/
}

/*linki*/

.navbar__links_container{
  position:fixed;
  width:100%; 
  background-image: linear-gradient(to bottom, var(--light-blue),var(--main-blue));
  height:0;
  overflow:hidden; 
  transition: var(--transition); /*na malych ekranach widac dopiero po kliknieciu*/
}

.links a {
  color: var(--accent-blue);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem;
  text-shadow: 0.125em 0.025em 0.55em var(--accent-blue);
}
.links a:hover {
  color: white;
}

@media (min-width:800px){

  .navbar{
    display:flex; /*ladne ulozenie linkow na wiekszym ekranie*/
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo{
    width:15vw;
  }

  .navbar_toggle_btn{
    display:none; /*hamburger menu tylko dla malych ekranów*/
  }

  .navbar__links_container{
    height: auto !important; /*na dużych widać wszystkie linki*/
    position:relative;
    width:auto; 
    background-image:none ;
  }

  .links {
    display: flex; /*wyswietlenie w jednym wierszu*/
  }

  .links a{
    font-size: 1.5rem;
    padding: 1rem;
  }

}

/* ---------------------------------------------MODAL - DODANIE GLOWNEJ SEKCJI------------------------------------------------------------- */
.modal_overlay{
      position:fixed;
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      background-color:black;
      overflow: hidden;
      z-index:2;
      background: rgba(42,73,116, 0.9);
}

.modal___nav{
  background-color: var(--light-blue);
  border-bottom:2px solid white;
  position:relative;
}
.modal_exit_btn{
  background: transparent;
  border-color: transparent;
  font-size:1.5rem;
  float: right;
  color: var(--accent-danger);
}

.modal_container{
     position: fixed;
     width:60vw;
     height:20vh;
     /* zeby bylo zawsze na srodku */
     left:50%;
     top:50%;
     transform: translate(-50%, -50%); /* pozycja zawsze na środku*/
     border: 2px solid var(--light-blue);
     color:white;
     background: linear-gradient(rgba(247, 7, 7, 0.9),gray, gray, rgba(247, 7, 7, 0.9)),
      url(background.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-color: black;
     background-blend-mode: luminosity;
}

.modal__input{ 
    margin:1rem;  
    display:flex;
}


.modal__input input{
     font-size: 1.5rem;
     max-width: 30vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(42,73,116);
  opacity: 1; /* Firefox */
  padding:0.5%;
}

.modal__input_btn{
    font-size: 2.1rem;
    background: transparent;
    border-color: transparent;
    margin-left:0.5rem;
    color: var(--accent-blue);
}

.modal__input_btn:hover{
  color: var(--main-blue);
}

@media (min-width:1000px){

    .modal_container{
        width:30vw;
    }

    .modal_input{
      margin:1.5rem;
    }
   
    .modal__input input{
        font-size: 1.5rem;
        max-width: 15vw;
    }

    .modal__input_btn{
        font-size: 2rem;  
    }

}


/* ---------------------------------------------DASHBOARD - SECTION LIST------------------------------------------------------------- */

/*dashboard*/
.dashboard{
  height: 83vh;
  display:grid;
  margin: 0.5em;
}

@media (min-width:1300px){ /*jak otiweramy w malym oknie to widok jest na cala strone*/ 
  .dashboard{
     grid-template-columns: 30vw 70vw;
  }
}

.sectionList{
    padding:1vw;
    display: grid;
    grid-gap:3px;
    font-size: 0.7rem;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr) ) ;*/
     grid-template-columns: 25% 25% 25% 25%;
     font-size: 1rem;
    background-color:rgb(216, 220, 227, 0.6);
}

.sectionListItem{
    background-color:rgb(42,73,116, 0.8);
    color:white;
    padding:2px;
     border: 1px solid #91C9FF;
    text-align: center;
     position: relative;
     opacity:0;
     transition: opacity 1s;
}

.sectionListItem.visible{
  opacity:1;
}

.sectionListItem.elements_inside{
  background-color:rgba(15, 33, 58, 0.8);
}

.sectionListItem:hover{
    transition: 1s ease-in-out;
    background: #3776b4;
}


.sectionListItem.importantItem{
    grid-column: auto / span 2;
}





.sectionListItem p{
     position: absolute;
    z-index: 3;
     top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* ---------------------------------------------OPENED SECTION------------------------------------------------------------- */

.currentSection{
   display:none;
}

.currentSection__navbar{
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    background-color:rgba(15, 33, 58, 0.8);
    color:white;
    border-bottom: 2px solid white;
}


.currentSection__add_container{
    background-color:rgba(15, 33, 58, 0.8);
    color:white;
    border-top: white;
}

.currentSection__add_btn{
  padding:0.5rem;
  font-size: 1rem;
  margin:0.5rem;
  float:right;
  background-color:rgb(42,73,116, 0.8);
  color:white;
  border: 1px solid #91C9FF;
}


.currentSection__add_btn:hover{
   transition: 1s ease;
   background-color:var(--accent-blue);
}


.currentSection__elements{
    display: grid;
    min-height: 50vh;
    background-color:rgb(42,73,116, 0.8); 
}

@media (min-width:800px){
  .currentSection__elements{
    min-height: 69vh;
  }
  .currentSection__navbar{
    font-size: 1.5rem;
  }
}

@media (min-width:1300px){
  .currentSection{
    background-color:rgb(216, 220, 227, 0.6);
    padding:1rem;
  }
}

/* --------------------------------------------- ADD NEW ELEMENT ------------------------------------------------------------- */


.currentSection__addNewElement{
  color:white;
}

.addelement {
  border: 1px solid black;
}

.add_element__label{
  text-transform: capitalize;
  font-size:1rem;
}

.add_element__container {
  display: grid;
  grid-template-columns: 40% 40% 20%
} 

.add_element__container_text textarea{
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}


.add_element__container_photo{
    border:2px solid #343f56;
}

.add_element__container_tag{
    border:2px solid #343f56;
}

.add_element__container_tag input{
  margin-top: 5vh;
  font-size: 1.5vw;
  border:2px solid #343f56;
  color:#343f56;
}

.add_element__container_tag input::placeholder{
  color:#343f56;
}


.add_element__container_addbtn{
    padding:0.5rem;
    font-size: 1rem;
    margin:0.5rem;
    float:right;
    background-color:rgb(42,73,116, 0.8);
    color:white;
    border: 1px solid #91C9FF;
}

.add_element__container_addbtn span{
  color:red;
}

/* --------------------------------------------- ADDED ELEMENTS  ------------------------------------------------------------- */

.addedElem{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.addedElem.long_text{
     grid-template-columns: repeat(2,1fr);
    
}

.addedElem__tag{
    color:white;
    text-align: left;
    text-transform: capitalize;
    padding:0.5rem;
    background-color:blueviolet;
    height:5vh;
}

.addElem a{
  text-decoration: none;
  background-color: blue;
}

.addedElem__text{
    text-align: left;
}

.addedElem__photo{
    padding: 0.5;
}
