* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.rootcontainer{
    background: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}




.rootcontainer {
  z-index: 2;
}

