.singleAddedElem{
    border:2px solid #343f56;
    background-color: rgba(230, 107, 107, 0.5);
    margin: 0.1em 0.1em 0.1em 0.1em;
    color:#343f56;
    display: grid;
     grid-template-columns: repeat(1,1fr);
}

.singleAddedElem.long_text{
     grid-template-columns: repeat(2,1fr);
    
}

.singleTag{
    background-color: rgba(230, 107, 107, 0.8);
    padding: 0.5em;
    text-align: left;
    grid-column: 1/-1;
}

.singleText{
    padding: 0.5em;
    text-align: left;
}

.singlePhoto{
    padding: 0.5;
}