.element-container {
  padding: 1%;
  border: 1px solid black;
}


.elemInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 

.elemInputText{
    background-color: red;
}
.elemInputPhoto{
    background-color: blue;
}
.elemInputTag{
    background-color: green;
}

.elemSaveBtn{
    float:right;
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #880088;
    background-color: rgba(172, 73, 150, 0.5);
}

