.element-container {
  border: 1px solid black;
    box-sizing: border-box;
}

.elemInstruction{
   height: 15vh;
   padding: 3%;
}

.elemInputContainer {
  display: grid;
  grid-template-columns: 40% 40% 20%
} 

.elemInputText textarea{
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.elemInputPhoto{
    border:2px solid #343f56;
}

.elemInputText{
    border:2px solid #343f56;
}

.elemInputTag{
    border:2px solid #343f56;
}

.elemInputTag input{
  margin-top: 5vh;
  font-size: 1.5vw;
  border-radius: 20px 20px 20px 20px;
  border:2px solid #343f56;
  color:#343f56;
}

.elemInputTag input::placeholder{
  color:#343f56;
}


.elemSaveBtn{
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #343f56;
    background-color: rgba(230, 107, 107, 0.5);
    position:relative;
    margin-top: 5.5vh;
}

