.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 85vh; 
    overflow-y: auto;
    z-index: 3;
    display:grid;
    grid-template-columns: 30vw 70vw;
}

.sectionList{
    display: grid;
    grid-gap:2px;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr) ) ;
}

.currentSection{
    background-color:blue;
}

.sectionListItem{
    background-color:red;
    height:3vh;
    border-radius: 5px;
    padding: 20px;
}

.sectionListItem.importantItem{
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}
