.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 86.5vh; 
    overflow-y: auto;
    z-index: 3;
    display:grid;
    grid-template-columns: 30vw 70vw;
}

.sectionList{
    padding:1vw;
    display: grid;
    grid-gap:2px;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr) ) ;
    border-right:2px solid rgb(42,73,116);
    background-color:rgb(216, 220, 227, 0.6);
}

.currentSection{
    background-color:rgb(216, 220, 227, 0.6);
}

.sectionListItem{
    background-color:rgb(42,73,116, 0.8);
    height:3vh;
    border-radius: 5px;
    padding: 20px;
    color:white;
}

.sectionListItem.importantItem{
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}
