.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 86.5vh; 
    overflow-y: auto;
    z-index: 3;
    display:grid;
    grid-template-columns: 30vw 70vw;
}

.sectionList{
    padding:1vw;
    display: grid;
    grid-gap:3px;
    font-size: 0.7rem;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr) ) ;*/
    grid-template-columns: 50% 50%;
    border-right:10px solid rgb(42,73,116, 0.8);
    background-color:rgb(216, 220, 227, 0.6);
}

@media (min-width:1300px){
    .sectionList{
     grid-template-columns: 25% 25% 25% 25%;
     font-size: 1rem;
    }
}

.currentSection{
    background-color:rgb(216, 220, 227, 0.6);
}

.sectionListItem{
    background-color:rgb(42,73,116, 0.8);
    border-radius: 5px;
    color:white;
    padding:2px;
    text-align: center;
     position: relative;
}

.sectionListItem:hover{
       box-shadow: inset 0 0 20px rgb(173,201,240);
}


.sectionListItem.importantItem{
    grid-column: auto / span 2;
}
