.mainsection{
    max-width: 100vw;  /* wielkosc wzgleden obszaru roboczego */
	  height: 71vh; 
    overflow-y: auto;
    margin-top:2%;
    margin-bottom: 2%;
    border:2px solid black;
    z-index: 3;

}



