.active{
    display:grid;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:#343f56;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #343f56;
    background-color: rgba(230, 107, 107, 0.5);
}

 
.section.active{
    border:2px solid #343f56;
    background: none;
    background-color: rgba(230, 107, 107, 0.2);
}

.section{
    text-align: center;
    min-height: 5vh;
    border-bottom: 2px solid #343f56;
    z-index: 3;
    background-color: rgba(52, 63, 86, 0.8);
}

.section-actv-navbar{
    font-size: x-large;
    border-bottom: 2px solid #343f56;
     background-color: #343f56;
}

.addedElementsContainer{
    display: grid;
    
}
@media (min-width:750px){
    .addedElementsContainer{
       
    }
}
@media (min-width:1600px){
    .addedElementsContainer{
      
    }
}