.active{
    display:grid;
      grid-template-rows: 5vh 28vh 5vh;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border:2px solid #880088;
    background-color: rgba(172, 73, 150, 0.5);
}

 
.section.active{
    border:2px solid #880088;
    background: none;
    background-color: rgba(255,255,255,0.5);
}

.section{
    text-align: center;
    min-height: 5vh;;
    border-bottom: 2px solid #cc0000;
    z-index: 3;
    background-color: rgba(235, 139, 139, 0.5);
}

.section-actv-navbar{
    font-size: x-large;
    border-bottom: 2px solid #cc0000;
     background-color: rgba(172, 73, 150, 0.5);
}