.active{
    display:grid;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:#343f56;
    padding: 0.5rem;
    margin: 0.5%;
}

 

.section{
     position: absolute;
    z-index: 3;
     top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.section-actv-navbar{
    font-size: x-large;

}

.addedElementsContainer{
    display: grid;
    
}
