.active{
    display:grid;
      grid-template-rows: 5vh 28vh 5vh;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    background-color: #343f56;
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border: none;
}

 
.section.active{
    border:2px solid #343f56;
    background: none;
}

.section{
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #343f56;
    z-index: 3;
    background-color: #343f56;
}

.section-actv-navbar{
    color:whitesmoke;
    padding: 1%;
    font-size: x-large;
    border-bottom: 2px solid #343f56;
    background-color: #343f56;
}