.active{
    display:grid;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    color:#343f56;
    padding: 0.5rem;
    margin: 0.5%;
}

 
.section.active{

}

.section{
    text-align: center;
    z-index: 3;
}

.section-actv-navbar{
    font-size: x-large;

}

.addedElementsContainer{
    display: grid;
    
}
@media (min-width:750px){
    .addedElementsContainer{
       
    }
}
@media (min-width:1600px){
    .addedElementsContainer{
      
    }
}