.active{
    display:grid;
      grid-template-rows: 5vh 28vh 5vh;
}


.section-actv-add-elem,.section-actv-add-sect{
    float:right;
    background-color: darkblue;
    color:white;
    padding: 0.5rem;
    margin: 0.5%;
    border: none;
}

.section-actv-navbar{
    background: linear-gradient(to bottom, rgb(59,58,28),  rgb(112,90,53));
}
